#nav {
    display: inline-flex;
    list-style: none;
    text-align: center;
    justify-content: center;
}

#nav li {
    float: left;
    width: 80px;
    padding: 8px;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid #ccc;
}

#nav li a {
    color: #CF1C44;
}

#primaryFont {
    font-family: "goudy-old-style", serif;
    font-weight: 400;
    font-style: normal;
}